.container {
    margin: 25px 40px;
}

.col {
    float: left;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.big {
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.row {margin: 0 10px;}

.card {
    float: left;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    height: 200px;
}

img {
    border-radius: 5px;
}
  
h1 {
    background-color: #202020;
    color: white;
}

.btn {
    
    padding: 10px 20px;
    border-radius: 5px;
    border-color: gainsboro;
}

#loanbutt {
    background-color: lightskyblue;
}

#bankbutt {
    background-color: salmon;
}

#workbutt {
    background-color: lightgreen;
}

#buybutt {
    background-color: gold;
}